/* Шрифты */
@font-face {
    font-family: PressStart2P;
    src: url(./Percentage-source/font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(./Percentage-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Проценташ - - - - - */
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Rubik;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    color: rgba(37, 37, 37, 1);
    user-select: none;
}

html {
    height: fit-content;
}

body {
    width: 100%; height: 100dvh;
    background-color: rgba(21, 97, 144, 1);
    background-image: url(./Percentage-source/img/cell.png);
    background-position: center center;
    background-size: 20px;
    transition: background 0.3s;
}

.container {
    height: 100dvh;
    background-color: rgba(21, 97, 144, 0.85);
    border: 3px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Логотип */
.ill1da-logo {
    position: absolute;
    width: 100%; height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    top: 30px;
}

.ill1da-logo h1 {
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(37, 37, 37, 1), 2px 2px 1px rgba(37, 37, 37, 1), 3px 3px 1px rgba(37, 37, 37, 1);
}

.logo-text {
    width: max-content;
    background-color: rgba(21, 97, 144, 1);
    border: 3px solid rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0 0 rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-family: PressStart2P;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    padding: 8px 24px 8px 16px;
    align-self: center;
    transition: 0.2s;
}

.logo-text:hover {
    box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 1);
    padding: 8px 26px 8px 18px;
    transition: 0.2s;
}

.logo-text:active {
    box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 1);
    border: 0px;
    transition: 0.2s;
}

/* Главное меню */



/* - - - - - Игровая карточка - - - - - */
#game-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.game-content {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

/* Раунд */
.round-score, #round {
    width: max-content;
    height: max-content;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}

/* Вопросы */
.percentage-text {
    width: 700px;
    height: max-content;
    min-height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

#question-text {
    width: 100%;
    height: 100%;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

/* Колесо */
.circle-container {
    width: 220px; height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-mini {
    position: absolute;
    width: 140px;
    height: 140px; 
    border-radius: 50%;
    background: conic-gradient(rgba(174, 185, 242, 1) 0%, rgba(174, 185, 242, 1) 0%);
    z-index: 8;
}

/* Результат колеса */
#fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(transparent 0%, rgba(101, 255, 255, 1) 0%);
    transform: rotate(0deg);
    transform-origin: center;
    z-index: 7;
}

.percent {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    z-index: 9;
}

#circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(rgba(174, 185, 242, 1) 0%, rgba(174, 185, 242, 1) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#circle-max {
    position: absolute;
    width: 220px;
    height: 220px; 
    border-radius: 50%;
    background: conic-gradient(rgba(10, 0, 28, 0) 0%, rgba(10, 0, 28, 0) 0%);
    z-index: 0;
}

#pointer {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(12, 53, 79, 1);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    touch-action: none;
    z-index: 10;
}

#percentage-difference-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(10, 0, 28, 1);
    border-radius: 50%;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}

#percentage-difference-text {
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-percentage,
#right-percentage {
    color: rgba(101, 255, 255, 1);
}

.accrued-points,
#accrued-points {
    color: rgba(14, 22, 77, 1);
}

/* Кнопка подтвердить */
#confirm-button{
    width: 100%;
    height: max-content;
    padding: 5px 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(21, 97, 144, 1);
    border: 3px solid rgba(255, 255, 255, 1);
    margin-top: 20px;
    transition: background 0.3s;
}

/* Кнопка продолжить */
#next-button {
    width: 100%;
    height: max-content;
    padding: 5px 0;
    color: rgba(101, 255, 255, 1);
    background-color: rgba(21, 97, 144, 1);
    border: 3px solid rgba(101, 255, 255, 1);
    margin-top: 20px;
    transition: background 0.3s;
}

#confirm-button:hover, #next-button:hover {
    cursor: pointer;
    background-color: rgba(142, 194, 226, 1);
    color: rgba(21, 97, 144, 0.85);
    transition: background 0.3s;
}

/* Результат */
.estimation-container {
    width: 100%; height: 45px;
    margin-top: 20px;
}

#estimation {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 60px;
}

@media only screen and (max-width: 721px) {
    .percentage-text {
        width: max-content;
    }

    #question-text {
        width: 500px;
    }
}

@media only screen and (max-width: 501px) { 
    #question-text {
        width: 280px;
        font-size: 24px;
    }
}