body {
    max-width: 100dvw; max-height: 100dvh;
    margin: 0;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 172, 117, 1);
}

canvas {
    position: relative;
    z-index: 1;
    border: 1px solid #000;
}

#line-width-slider {
    position: absolute;
    z-index: 999;
}