@font-face {
    font-family: LexendMega;
    src: url(./MAIN-source/font/LexendMega-VariableFont_wght.ttf);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    line-height: 160%;
}

html{
    width: 100%; height: 100%;
}
body {
    width: 100%; height: 100%;
    background: #FADF0B;
}

/* - Контейнер - */
#container {
    width: 100%; height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 50px 100px;
    gap: 50px;
}

/* - Лого - */
#logo-AREA {
    box-sizing: content-box;
    width: fit-content; height: fit-content;
    position: relative;
    border-radius: 25px;
}
#logo {
    width: max-content; height: max-content;
    position: absolute;
    font-family: LexendMega;
    font-size: clamp(32px, 4vw, 64px);
    font-weight: 700;
    text-decoration: none;
    background: #C4A1FF;
    border: 7px solid #000000;
    border-radius: clamp(15px, 3vw, 25px);
    padding: 5px 15px;
    transition: ease-in-out 0.16s;
    z-index: 10;
}
#after-logo {
    width: max-content; height: max-content;
    position: relative;
    font-family: LexendMega;
    font-size: clamp(32px, 4vw, 64px);
    font-weight: 700;
    text-decoration: none;
    background: #000000;
    border: 7px solid #000000;
    border-radius: clamp(15px, 3vw, 25px);
    padding: 5px 15px;
    top: 5px; left: 5px;
    transition: ease-in-out 0.16s;
    z-index: 9;
}
#logo-AREA:hover #logo{
    transform: translate(5px, 5px);
    transition: ease-in-out 0.16s;
}

/* - Пул карт */
#card-pull {
    width: fit-content; height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; justify-content: center;
    padding: 50px;
    background: #FFB802;
    background-image: url(./MAIN-source/img/BACK-DOT.png);
    background-size: 30px;
    gap: 50px;
}
.card-AREA {
    box-sizing: content-box;
    position: relative;
    width: fit-content; height: fit-content;
    border-radius: 25px;
}
.card-AREA:hover .card {
    transform: translate(-5px, -5px);
    transition: ease-in-out 0.16s;
}
.card {
    width: clamp(245px, 20vw, 490px);
    aspect-ratio: 245/318.5;
    position: relative;
    background: #FFFFFF;
    border-radius: 25px;
    border: 7px solid #000000;
    transition: ease-in-out 0.16s;
    z-index: 10;
}
.shadow {
    width: clamp(245px, 20vw, 490px);
    aspect-ratio: 245/318.5;
    position: absolute;
    background: #000000;
    border: 7px solid #000000;
    border-radius: 25px;
    padding: 5px 15px;
    top: 0px; left: 0px;
    transition: ease-in-out 0.16s;
    z-index: 9;
}

/* - Карточки - */
#Tic-Tac-Toe {
    background: #E3DFF2;
}

#Life-checklist {
    background: #FFB2EF;
}

#Press-the-button {
    background: #FF7A5C;
}

#Swipe-facts {
    background: #FFDB58;
}

#Chronometer {
    background: #7FBC8C;
}

#Percentage {
    background: #87CEEB;
}

#Color-battle {
    background: #C4A1FF;
}

#Travotron {
    background: #90EE90;
}

#Sand-painting {
    background: #E3A018;
}

#game-2048 {
    background: #FDFD96;
}

#Krugorost {
    background: #FF69B4;
}

#Sticks-and-Fields {
    background: #DAF5F0;
}