/* - - - - - Шрифты - - - - - */
@font-face {
    font-family: PressStart2P;
    src: url(./MAIN-source/font/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(./MAIN-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Главная страница - - - - - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Rubik;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #17191D;
}

html {
    height: fit-content;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FDE680;
    transition: background 0.3s;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 30px;
}

/* - - - - - Логотип - - - - - */
.ill1da-logo {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 20px;
}

.logo-text h1 {
    font-family: PressStart2P;
    font-size: 40px;
    color: #37255F;
}

.ill1da-title {
    opacity: 0.6;
    color: #37255F;
}

/* - - - - - Посты - - - - - */
.posts {
    width: 100%;
    max-width: 1400px;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 22px;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .posts {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1120px;
        grid-gap: 20px 22px;
    }
}

@media only screen and (max-width: 1120px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
        max-width: 840px;
        grid-gap: 15px 18px;
    }
}

@media only screen and (max-width: 840px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
        max-width: 560px;
        grid-gap: 15px 18px;
    }
}

@media only screen and (max-width: 560px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
        grid-gap: 15px 18px;
    }

    .logo-text h1 {
        font-size: 7vw;
    }

    .logo-text-blue {
        font-size: 7vw;
    }
}

.posts a {
    width: 260px;
    height: 346.66px;
    border-radius: 10px;
    background: #F5F5F5;
    box-shadow: 0px 5px 0px 0px #17191D;
    border: 5px solid #17191D;
    transition: 0.2s;
    justify-self: center;
}

.posts a:active {
    transition: 0.3s;
    box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
}

/* - - - - - Подвал - - - - - */
.padding {
    width: 100%;
    background: #00BDA6;
    margin-top: 50px;
    padding: 50px 20px 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.padding-text {
    display: block;
    line-height: 160%;
}

.padding-buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.padding-buttons a {
    width: max-content;
    height: 48px;
    padding: 0 24px 0 16px;
    border-radius: 10px;
    border: 3px solid #17191D;
    display: flex;
    text-decoration: none;
    background: #F5F5F5;
    color: #17191D;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 1px 1px 0px 0px #17191D, 2px 2px 0px 0px #17191D, 3px 3px 0px 0px #17191D, 4px 4px 0px 0px #17191D, 5px 5px 0px 0px #17191D;
}
.animated-button-vk span, .animated-button-cup span{
    color: #17191D;
    display: inline-block;
}

.padding-buttons a:hover {
    background: #F3B80C;
    transition: 0.2s;
}

@keyframes wave {
    0%, 40%, 100% {
      transform: translateY(0); 
    }
    
    20% {
      transform: translateY(-2px);
    }
}

.animated-button-vk:hover span:nth-child(9) {
    animation: wave 2s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(8) {
    animation: wave 2s 0.2s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(7) {
    animation: wave 2s 0.2s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(6) {
    animation: wave 2s 0.3s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(5) {
    animation: wave 2s 0.4s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(4) {
    animation: wave 2s 0.5s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(3) {
    animation: wave 2s 0.6s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-vk:hover span:nth-child(2) {
    animation: wave 2s 0.7s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
} 
.animated-button-vk:hover span:nth-child(1) {
    animation: wave 2s 0.8s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}

.animated-button-cup:hover span:nth-child(15) {
    animation: wave 1.5s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(14) {
    animation: wave 1.5s 0.1s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(13) {
    animation: wave 1.5s 0.2s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(12) {
    animation: wave 1.5s 0.3s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(11) {
    animation: wave 1.5s 0.4s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(10) {
    animation: wave 1.5s 0.5s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(9) {
    animation: wave 1.5s 0.6s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(8) {
    animation: wave 1.5s 0.7s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(7) {
    animation: wave 1.5s 0.8s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(6) {
    animation: wave 1.5s 0.9s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(5) {
    animation: wave 1.5s 1.0s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(4) {
    animation: wave 1.5s 1.1s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(3) {
    animation: wave 1.5s 1.2s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}
.animated-button-cup:hover span:nth-child(2) {
    animation: wave 1.5s 1.3s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
} 
.animated-button-cup:hover span:nth-child(1) {
    animation: wave 1.5s 1.4s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}

/* - - - - - Карточки - - - - -*/
#Tic-Tac-Toe {
    background-image: url(./MAIN-source/card/Tic-Tac-Toe-card.svg);
    background-color: #1844DC;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Tic-Tac-Toe:hover {
    background-color: #3B60E1;
}

#Life-checklist {
    background: url(./MAIN-source/card/Life-checklist-card.svg);
    background-color: #F584B4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Life-checklist:hover {
    background-color: #F696BF;
}

#Chronometer {
    background: url(./MAIN-source/card/Chronometer-card.svg);
    background-color: #00B94B;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Chronometer:hover {
    background-color: #26C466;
}

#Swipe-facts {
    background: url(./MAIN-source/card/Swipe-facts-card.svg);
    background-color: #FFCC00;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Swipe-facts:hover {
    background-color: #FFD426;
}

#Press-the-button {
    background: url(./MAIN-source/card/Press-the-button-card.svg);
    background-color: #EF552B;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Press-the-button:hover {
    background-color: #F16E4B;
}

#Percentage {
    background: url(./MAIN-source/card/Percentage-card.svg);
    background-color: #3399FF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Percentage:hover {
    background-color: #52A8FF;
}

#Color-conquest {
    background-image: url(./MAIN-source/card/Color-conquest-card.svg);
    background-color: #8080FF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Color-conquest:hover {
    background-color: #9393FF;
}

#Sand-painting {
    background: url(./MAIN-source/card/Sand-painting-card.svg);
    background-color: #D9A366;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Sand-painting:hover {
    background-color: #DFB17D;
}