/* - - - - - Шрифты - - - - - */
@font-face {
    font-family: Silkscreen;
    src: url(../../source/font/Silkscreen-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../source/font/Roboto-Regular.ttf);
}

/* - - - - - Крестики-Нолики - - - - - */
*{
    margin: 0; padding: 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}
body{
    width: 100%; max-height: 100vh;
    background-color: rgba(38, 184, 181, 1);
}
/* - - - - - Хедер - - - - -*/
.logotype{
    width: 100%; height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.logo-text{
    font-family: Silkscreen;
    font-size: 24px;
    color: rgba(37, 37, 37, 1);
    padding: 0 24px 0 16px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    transition: 0.2s;
 }
 .logo-text:hover{
    box-shadow: 5px 5px 0 0 rgba(37, 37, 37, 1);
    padding: 0 26px 0 18px;
    transition: 0.2s;
 }
.logo-text:active{
    box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
    border: 0px;
    transition: 0.2s;
}

/* - - - - - Игровой контент - - - - -*/
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-content{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    height: auto;
    padding: 0px 30px;
}

/* - - - - - Настройки - - - - -*/
.game-settings{
    box-sizing: border-box;
    width: 100%; height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.player-mode{
    width: max-content; height: max-content;
    padding: 10px 30px 10px 10px;
    margin-top: 5px;
    outline: 0px solid rgba(37, 37, 37, 1);
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    -webkit-appearance: none;
    background-image: url(./source/img/appearance.svg);
    background-repeat: no-repeat;
    background-position: 248px 19px;
    border: 1px solid rgba(37, 37, 37, 1);
    cursor: pointer;
    transition: 0.2s;
}
.player-mode:focus{
    outline: 0px solid rgba(37, 37, 37, 1);
}
.player-mode:hover{
    outline: 0px solid rgba(37, 37, 37, 1);
    box-shadow: 4px 4px 0 0 rgba(37, 37, 37, 1);
    transition: 0.2s;    

}
.title{
    margin-top: 15px;
    display: block;
    text-align: center;
}

.difficulty-setings{
    width: 100%; height: auto;
}
.difficulty{
    box-sizing: border-box;
    width: auto; height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.radio-text{
    width: max-content; height: auto;
    background-color: rgba(240, 240, 240, 1);
    color: rgba(37, 37, 37, 1);
    border: 1px solid rgba(37, 37, 37, 1);
    padding: 5px 15px;
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    transition: 0.2s;
}
.radio-text:hover{
    box-shadow: 4px 4px 0 0 rgba(37, 37, 37, 1);
    cursor: pointer;
    transition: 0.2s;
}
.radio-text:active{
    box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
    border: 0px;
    transition: 0.2s;
}
.difficulty-value{
    position: absolute;
    clip: rect(1px);
    height: 1px;
    width: 1px;
}
.difficulty-value:checked ~ .radio-text{
    background-color: rgba(38, 184, 181, 0.5);
    color: rgba(37, 37, 37, 1);
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
}
.new-game{
    width: max-content; height: auto;
    padding: 5px 15px;
    background-color: rgba(154, 197, 48, 1);
    color: rgba(37, 37, 37, 1);
    padding: 5px 15px;
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    margin: 20px 0px;
    transition: 0.2s;
}
.new-game:hover{
    box-shadow: 4px 4px 0 0 rgba(37, 37, 37, 1);
    transition: 0.2s;
    cursor: pointer;
}
.new-game:active{
    box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
    border: 0px;
    transition: 0.2s;
}
.btnGame{
    height: 75px; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* - - - - - Игровое поле - - - - -*/
.game-container{
    box-sizing: border-box;
    width: 100%; height: 300px;
    background-color: rgba(240, 240, 240, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.game{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 300px; height: 300px;
    outline: 2px solid rgba(37, 37, 37, 1);
}
.field{
    box-sizing: border-box;
    width: 100px; height: 100px;
    border: 2px solid rgba(37, 37, 37, 1);
    cursor: pointer;
}

/* - - - - - Результат - победа - - - - -*/
.res{
    width: 100%; height: 22px;
    display: block;
    text-align: center;
    color: rgba(38, 184, 181, 1);
    margin: 15px 0px 10px 0px;
}

.active{
    background-color: rgba(154, 197, 48, 0.5);
}