/* - - - - - Шрифты - - - - - */
@font-face {
  font-family: PressStart2P;
  src: url(./Fun-facts-source/font/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(./Fun-facts-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Фан фактс - - - - - */
*{
  margin: 0; padding: 0;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  color: rgba(37, 37, 37, 1);
  user-select: none;
}
html {
  box-sizing: border-box;
  width: 100%; height: 100dvh;
}
body {
  box-sizing: border-box;
  width: 100%; max-height: 100dvh;
  background-color: rgba(244, 215, 27, 1);
}

.container{
  width: 100%; max-height: 100dvh;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.card:hover{
  cursor: pointer;
}

/* - - - - - Логотип - - - - -*/
.logotype{
  width: 100%; height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: absolute;
  top: 0;
}
.logo-text{
  font-family: PressStart2P;
  font-size: 20px;
  color: rgba(37, 37, 37, 1);
  padding: 8px 24px 8px 16px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
  transition: 0.2s;
}
.logo-text:hover{
  box-shadow: 5px 5px 0 0 rgba(37, 37, 37, 1);
  padding: 8px 26px 8px 18px;
  transition: 0.2s;
}
.logo-text:active{
  box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
  border: 0px;
  transition: 0.2s;
}

/*- - - - - Главное меню - - - - -*/
#start-container{
  box-sizing: border-box;
  width: 100%; height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 20px;
  overflow-x: hidden;
}
.start-container-card{
  box-sizing: border-box;
  max-width: 380px; height: max-content;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#start-container h1{
  font-size: 30px;
  text-align: center;
}
#start-container h3{
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  max-width: 275px;
}

#start-container button{
  width: max-content; height: max-content;
  padding: 10px 30px;
  background-color: rgba(244, 215, 27, 1);
  background-color: rgba(37, 37, 37, 1);
  color: rgba(255, 255, 255, 1);
  border: 0px;
  transition: 0.2s;
}
#start-container button:hover{
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
  transition: 0.2s;
}
#start-container button:active{
  box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
  transition: 0.2s;
}

/*- - - - - Игровой контейнер - - - - -*/
#game-container{
  box-sizing: border-box;
  width: 100%; max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  overflow-x: hidden;
}
#game-container h3{
  padding: 10px 0px 40px 0px;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 0;
}

.cover-color{
  box-sizing: border-box;
  position: absolute;
  width: 100%; height: 100%;
  background-color: rgba(37, 37, 37, 0.75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 10px;


  z-index: 1;
}

.card-title{
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}
.card-text{
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
} 

  /*- - - - - Контейнер счетчики - - - - -*/
#know-container{
  width: 100%; max-width: 700px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 10px 30px;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/*- - - - - Энд контейнер - - - - -*/
#end-container{
  box-sizing: border-box;
  width: 100%; height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 20px;
  overflow-x: hidden;
}

.end-container-card{
  box-sizing: border-box;
  max-width: 380px; height: max-content;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.end-container-card h1{
  font-size: 30px;
  text-align: center;
}
.end-container-card h3{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 275px;
}

#retry-button{
  width: max-content; height: max-content;
  padding: 10px 30px;
  background-color: rgba(244, 215, 27, 1);
  background-color: rgba(37, 37, 37, 1);
  color: rgba(255, 255, 255, 1);
  border: 0px;
  transition: 0.2s;
}
#retry-button:hover{
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
  transition: 0.2s;
}
#retry-button:active{
  box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
  transition: 0.2s;
}