@font-face {
    font-family: Rubik;
    src: url(./Advent-calendar-source/fonts/Rubik-VariableFont_wght.ttf);
}
*{
    margin: 0; padding: 0;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(37, 37, 37, 1);
}

#container{
    box-sizing: border-box;
    width: 100%; height: 100%;
    background-color: rgba(252, 182, 162, 1);
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#new-year{
    box-sizing: border-box;
    background-color: rgba(252, 246, 233, 1);
    width: 100%; height: auto;
    border-radius: 20px;
    border: 3px solid rgba(37, 37, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(37, 37, 37, 1);
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}
#new-year-title{
    width: auto; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#new-year h3{
    font-weight: 800;
}
#new-year h5{
    color: rgba(37, 37, 37, 0.6);
}
#new-year-cross{
    box-sizing: border-box;
    height: max-content; width: auto;
    font-weight: 800;
    font-size: 18px;
    background-color: rgba(252, 246, 233, 1);
    display: flex;
    border: 0px;
}

#advent-calendar{
    box-sizing: border-box;
    width: 100%; height: max-content;
    background-color: rgba(252, 246, 233, 1);
    border-radius: 20px;
    border: 3px solid rgba(37, 37, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(37, 37, 37, 1);
    display: flex;
    flex-direction: column;
}

#treya{
    box-sizing: border-box;
    background-color: rgba(252, 246, 233, 1);
    width: 100%; height: 50px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 3px solid rgba(37, 37, 37, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
#treya span, #treya p{
    font-weight: 800;
}
#treya img{
    height: 20px;
}

#advent-calendar-items{
    box-sizing: border-box;
    width: 100%; height: max-content;
    padding: 20px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#advent-calendar-title h1{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
#advent-calendar-title h4{
    width: auto;
    line-height: 16px;
    margin-bottom: 20px;
    text-align: center;
}

#advent-calendar-cells{
    box-sizing: border-box;
    width: 250px; height: auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px 5px;
    justify-content: center;
}
.cell{
    box-sizing: border-box;
    width: 30px; height: 30px;
    background-color: rgba(252, 246, 233, 1);
    border-radius: 8px;
    border: 3px solid rgba(37, 37, 37, 1);
    font-size: 16px;
    font-weight: 800;
}
.cell:hover{
    cursor: pointer;
}

#august-day{
    background-color: rgba(37, 37, 37, 0.6);
    color: rgba(252, 246, 233, 0.5);
}
#october-day{
    background-color: rgba(37, 37, 37, 0.6);
    color: rgba(252, 246, 233, 0.5);
}

#happy-img{
    box-sizing: border-box;
    width: 100%; height: max-content;
    background-color: rgba(252, 246, 233, 1);
    border-radius: 20px;
    border: 3px solid rgba(37, 37, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(37, 37, 37, 1);
}
.happy-background{
    box-sizing: border-box;
    width: 100%;
}

/* - - - - - ДНИ КАЛЕНДАРЯ - - - - -*/
.past-active{
    color: rgba(252, 246, 233, 1);
    background-color: rgba(37, 37, 37, 1);
}
.active{
    background-color: rgba(252, 182, 162, 1);
    color: rgba(252, 246, 233, 1);
}


/*- - - - - Скрытые окна - - - - -*/
#past-day-august, #future-day-october{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(252, 182, 162, 0.75);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

#past-day-august-title, #future-day-october-title{
    box-sizing: border-box;
    width: 70%; height: max-content;
    background-color: rgba(252, 246, 233, 1);
    color: rgba(37, 37, 37, 1);
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(37, 37, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(37, 37, 37, 1);
    padding: 20px 20px;
    gap: 20px;
    z-index: 11;
}
#past-day-august-title h2, #future-day-october-title h2{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
#past-day-august-title h3, #future-day-october-title h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
#past-day-august-title button, #future-day-october-title button{
    width: 100%; height: 35px;
    border-radius: 30px;
    border: 0px;
    background-color: rgba(37, 37, 37, 1);
    color: rgba(252, 246, 233, 1);
    font-size: 16px;
    align-self: center;
}
.day-advent-title a{
    width: 100%; height: 35px;
    border-radius: 30px;
    border: 0px;
    background-color: rgba(37, 37, 37, 1);
    color: rgba(252, 246, 233, 1);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
}
#past-day-august-title button:hover, #future-day-october-title button:hover{
    cursor: pointer;
}

/* - - - - - Адвенты - - - - -*/
#none-advent, .day-advent{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(252, 182, 162, 0.75);
    z-index: 10;
    justify-content: center;
    align-items: center;
}
#none-advent-title, .day-advent-title{
    box-sizing: border-box;
    width: 70%; height: max-content;
    background-color: rgba(252, 246, 233, 1);
    color: rgba(37, 37, 37, 1);
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border: 3px solid rgba(37, 37, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(37, 37, 37, 1);
    z-index: 11;
}
#none-advent-title h2, .day-advent-title h2{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
#none-advent-title button, .day-advent-title button{
    width: 100%; height: 35px;
    border-radius: 30px;
    border: 0px;
    background-color: rgba(37, 37, 37, 1);
    color: rgba(252, 246, 233, 1);
    font-size: 16px;
    align-self: center; 
}

.day-advent-title iframe{
    margin: 20px 0px;
    width: 100%; height: max-content;
}

.promo{
    background-color: aquamarine;
    width: max-content; height: max-content;
    padding: 15px 30px;
    margin: 40px 0px;
}