/* - - - - - Шрифты - - - - - */
@font-face {
    font-family: PressStart2P;
    src: url(./Life-Checklist-source/font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(./Life-Checklist-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Чек-лист жизни - - - - - */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    color: rgba(118, 79, 217, 1);
}

html{
    height: max-content;
}

body{
    width: 100%; height: 100%;
    background-color: rgba(239, 181, 255, 1);
}

.container{
    box-sizing: content-box;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 20px;
}

/* - - - - - Логотип - - - - - */
.ill1da-logo{
    width: 100%; height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.ill1da-logo h1{
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(118, 79, 217, 1), 2px 2px 1px rgba(118, 79, 217, 1), 3px 3px 1px rgba(118, 79, 217, 1);
}

.logo-text{
    width: max-content;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0 0 rgba(118, 79, 217, 1);
    font-family: PressStart2P;
    font-size: 20px;
    color: rgba(118, 79, 217, 1);
    padding: 8px 24px 8px 16px;
    text-decoration: none;
    align-self: center;
    transition: 0.2s;
 }
 .logo-text:hover{
    box-shadow: 5px 5px 0 0 rgba(118, 79, 217, 1);
    padding: 8px 26px 8px 18px;
    transition: 0.2s;
 }
.logo-text:active{
    box-shadow: 0px 0px 0 0 rgba(118, 79, 217, 1);
    border: 0px;
    transition: 0.2s;
}

/* - - - - - Прогресс-бар - - - - -*/
.progress-title{
    display: block;
    text-align: center;
}
.progress-bar{
    box-sizing: border-box;
    width: 1356px; min-height: max-content;
    background-color: rgba(255, 255, 255, 1);
    padding: 25px 45px;
    box-shadow: 3px 3px 0 0 rgba(118, 79, 217, 1);
}
.progress{
    width: 100%; height: 32px;
    margin-top: 10px;
    background-color: rgba(240, 240, 240, 1);
}
input{
    position: absolute;
    clip: rect(1px);
    height: 1px;
    width: 1px;
}
.progress::-webkit-progress-value {
    background-color: rgba(118, 79, 217, 1); 
    transition: 0.5s;
}
.progress::-webkit-progress-bar {
    background-color: rgba(225, 219, 239, 0.4);    
}

/* - - - - - Контейнер - - - - - */
.check-list-content{
    box-sizing: border-box;
    width: max-content; height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 20px;
    box-shadow: 3px 3px 0 0 rgba(118, 79, 217, 1);
}
.labels{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 20px 22px;
    padding: 0 25px;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}

/* - - - - - Чекбоксы - - - - - */
label{
    box-sizing: border-box;
    width: 300px; height: 65px;
    background-color: rgba(225, 219, 239, 0.4);
    background-image: url(./Life-Checklist-source/img/checkbox-n.svg);
    background-repeat: no-repeat;
    background-position: 25px center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 25px 0px 55px;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}
label:hover{
    box-shadow: -3px -3px 0 0 rgba(239, 178, 255, 1), 3px 3px 0 0 rgba(206, 195, 252, 1);
    transition: 0.2s;
}
label:active{
    box-shadow: 0px 0px 0 0 rgba(239, 178, 255, 1), 0px 0px 0 0 rgba(206, 195, 252, 1);
    transition: 0.2s;

}

.active {
    background-color: rgba(195, 255, 192, 1);
    background-image: url(./Life-Checklist-source/img/checkbox-y.svg);
    background-repeat: no-repeat;
    background-position: 25px center;
}

/* - - - - - Медиа-запросы - - - - - */

@media only screen and (max-width: 1380px){
    .labels{
        grid-template-columns: repeat(3,1fr);
    }
    .progress-bar{
        width: 1034px;
    }
}
@media only screen and (max-width: 1100px){
    .labels{
        grid-template-columns: repeat(2,1fr);
    }
    .progress-bar{
        width: 712px;
    }
}
@media only screen and (max-width:760px){
    .labels{
        grid-template-columns: repeat(1,1fr);
    }
    .progress-bar{
        width: 390px;
    }
}
@media only screen and (max-width:430px){
    .progress-bar{
        width: 100%;
    }
    .check-list-content{
        width: 100%;
    }
    label{
        width: 100%;
    }
    .ill1da-logo h1{
        font-size: 24px;
    }
}
