/* - - - - - Шрифты - - - - - */
@font-face {
    font-family: PressStart2P;
    src: url(./Drum-Pad-source/font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(./Drum-Pad-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Крестики-Нолики - - - - - */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    color: rgba(85, 44, 184, 1);
}

html{
    height: fit-content;
}

body{
    width: 100%; height: 100%;
    background-color: rgba(37, 37, 37, 1);
    transition: background 0.3s;
}

.container{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

/*- - - - - Логотип - - - - -*/
.ill1da-logo{
    width: 100%; height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.ill1da-logo h1{
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(85, 44, 184, 1), 2px 2px 1px rgba(85, 44, 184, 1), 3px 3px 1px rgba(85, 44, 184, 1);
}

.logo-text{
    width: max-content;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0 0 rgba(85, 44, 184, 1);
    font-family: PressStart2P;
    font-size: 20px;
    color: rgba(85, 44, 184, 1);
    padding: 8px 24px 8px 16px;
    text-decoration: none;
    align-self: center;
    transition: 0.2s;
 }
 .logo-text:hover{
    box-shadow: 5px 5px 0 0 rgba(85, 44, 184, 1);
    padding: 8px 26px 8px 18px;
    transition: 0.2s;
 }
.logo-text:active{
    box-shadow: 0px 0px 0 0 rgba(85, 44, 184, 1);
    border: 0px;
    transition: 0.2s;
}

/* - - - - - Драм - понели - - - - - */
.drum-content-cell{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 10px 10px;
}
.cell{
    width: 120px; height: 120px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
#drum1{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 51, 51, 1);
    transition: background 0.2s;
}
#drum1:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 102, 102, 1);
    transition: background 0.2s;
}
#drum2{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(51, 102, 255, 1);
    transition: background 0.2s;
}
#drum2:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(102, 153, 255, 1);
    transition: background 0.2s;
}
#drum3{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(102, 204, 102, 1);
    transition: background 0.2s;
}
#drum3:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(153, 255, 153, 1);
    transition: background 0.2s;
}
#drum4{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 204, 51, 1);
    transition: background 0.2s;
}
#drum4:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 255, 102, 1);
    transition: background 0.2s;
}
#drum5{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(153, 51, 255, 1);
    transition: background 0.2s;
}
#drum5:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(204, 102, 255, 1);
    transition: background 0.2s;
}
#drum6{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 153, 51, 1);
    transition: background 0.2s;
}
#drum6:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 204, 102, 1);
    transition: background 0.2s;
}
#drum7{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 102, 178, 1);
    transition: background 0.2s;
}
#drum7:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 153, 204, 1);
    transition: background 0.2s;
}
#drum8{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(102, 178, 255, 1);
    transition: background 0.2s;
}
#drum8:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(153, 204, 255, 1);
    transition: background 0.2s;
}
#drum9{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 255, 255, 1);
    transition: background 0.2s;
}
#drum9:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(200, 200, 200, 1);
    transition: background 0.2s;
}
#drum10{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(204, 102, 0, 1);
    transition: background 0.2s;
}
#drum10:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(255, 153, 51, 1);
    transition: background 0.2s;
}
#drum11{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(128, 128, 128, 1);
    transition: background 0.2s;
}
#drum11:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(179, 179, 179, 1);
    transition: background 0.2s;
}
#drum12{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(0, 0, 0, 1);
    transition: background 0.2s;
}
#drum12:hover{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.40) 0%, rgba(186, 186, 186, 0.10) 100%), rgba(51, 51, 51, 1);
    transition: background 0.2s;
}