/* - - - - - Шрифты - - - - - */
@font-face {
    font-family: PressStart2P;
    src: url(./press-the-button-source/font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(./press-the-button-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Жми на кнопку - - - - - */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    -webkit-tap-highlight-color: #000000;
    -webkit-tap-highlight-color: transparent;
}
html{
    height: fit-content;
}
body{
    width: 100%; height: 100%;
    background-color: #17191D;
    transition: background 0.3s;
}

.container{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    gap: 20px;
}

/*- - - - - Логотип - - - - -*/
.ill1da-logo{
    width: 100%; height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.ill1da-logo h1{
    font-size: 40px;
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #7C362C, 2px 2px 1px #7C362C, 3px 3px 1px #7C362C;
}

.logo-text{
    width: max-content;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 0 0 #FF4F37;
    font-family: PressStart2P;
    font-size: 20px;
    color: #FF4F37;
    padding: 8px 24px 8px 16px;
    text-decoration: none;
    align-self: center;
    transition: 0.2s;
 }
 .logo-text:hover{
    box-shadow: 5px 5px 0 0 #FF4F37;
    padding: 8px 26px 8px 18px;
    transition: 0.2s;
 }
.logo-text:active{
    box-shadow: 0px 0px 0 0 #FF4F37;
    border: 0px;
    transition: 0.2s;
}

/* - - - - - Кнопка контент- - - - -*/
.button{
    background-color: #17191D;
    min-width: 256px; min-height: 181px;
    background-image: url(./press-the-button-source/img/red-button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    transition: 0.05s;
    margin-bottom: 60px;
    margin-top: 120px;
}
.button:hover{
    cursor: pointer;
}
.button:active{
    background-color: #17191D;
    background-image: url(./press-the-button-source/img/red-button-press.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    transition: 0.05s
}
.container input{
    width: max-content;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* - - - - - Загрузка файла - - - - -*/
.input-file-row {
	display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
    width: 170px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #FF4F37;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
#reset-btn{
    width: 170px;
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	color: #FF4F37;
	text-align: center;
	border-radius: 4px;
	background-color: #FFFFFF;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem #007BFF40;
}
 
/* Hover/Active */
.input-file:hover span {
	background-color: #7C362C;
}
.input-file:active span {
	background-color: #7C362C;
}

/*- - - - - Медиа-запрос - - - - -*/
@media only screen and (max-width:450px) {
    .ill1da-logo h1{
        font-size: 32px;
    }   
}

@media only screen and (max-width: 426px) {
    .ill1da-logo h1{
        font-size: 32px;
    }
}