/* - - - - - Шрифты - - - - - */
@font-face {
    font-family: PressStart2P;
    src: url(./Chronometer-source/font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(./Chronometer-source/font/Rubik-VariableFont_wght.ttf);
}

/* - - - - - Хронометр - - - - - */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    color: rgba(37, 37, 37, 1);
}

html{
    height: fit-content;
}

body{
    width: 100%; height: 100%;
    background-color: rgba(0, 185, 75, 1);
}

.container{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

/* - - - - - Логотип - - - - - */
.ill1da-logo{
    width: 100%; height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.ill1da-logo h1{
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(37, 37, 37, 1), 2px 2px 1px rgba(37, 37, 37, 1), 3px 3px 1px rgba(37, 37, 37, 1);
}

.logo-text{
    width: max-content;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    font-family: PressStart2P;
    font-size: 20px;
    color: rgba(37, 37, 37, 1);
    padding: 8px 24px 8px 16px;
    text-decoration: none;
    align-self: center;
    transition: 0.2s;
 }
 .logo-text:hover{
    box-shadow: 5px 5px 0 0 rgba(37, 37, 37, 1);
    padding: 8px 26px 8px 18px;
    transition: 0.2s;
 }
.logo-text:active{
    box-shadow: 0px 0px 0 0 rgba(37, 37, 37, 1);
    border: 0px;
    transition: 0.2s;
}

/* - - - - - Хронометр контент - - - - - */
/* - - - - - Прогресс-бары - - - - - */
progress{
    width: 100%; height: 24px;
    background-color: rgba(240, 240, 240, 1);
    margin-top: 10px; margin-bottom: 10px;
}
progress::-webkit-progress-value {
    background-color: rgba(0, 185, 75, 1);
    transition: 0.5s;
}
progress::-webkit-progress-bar {
    background-color: rgba(240, 240, 240, 1);    
}

.chronometer-content{
    width: 1356px; height: auto;
    display: flex;
    gap: 20px;
}
h3{
    font-family: Rubik;
    color: rgba(0, 185, 75, 1);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
h6{
    text-align: center;
    margin-bottom: 5px;
    opacity: 0.8;
}
.chronometer-holiday-content{
    box-sizing: border-box;
    width: 432px; height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 45px;
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    margin-bottom: 70px;
}

.chronometer-user-content{
    box-sizing: border-box;
    width: 924px; height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-date{
    box-sizing: border-box;
    width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 45px;
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-data-progress{
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%; height: 100%; max-height: 640px;
    background-color: rgba(240, 240, 240, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}
.user-data-input{
    box-sizing: border-box;
    width: 100%; height: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userText{
    box-sizing: border-box;
    width: 250px; height: 35px;
    padding: 0px 10px;
    background-color: rgba(240, 240, 240, 1);
    outline: 1px rgba(37, 37, 37, 1);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
#userText:hover{
    cursor: pointer;
    background-color: rgba(215, 215, 215, 1);
    transition: background-color 0.3s ease;
}

#userDate{
    box-sizing: border-box;
    width: 250px; height: 35px;
    padding: 0px 10px;
    background-color: rgba(240, 240, 240, 1);
    outline: 1px rgba(37, 37, 37, 1);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
#userDate:hover{
    cursor: pointer;
    background-color: rgba(215, 215, 215, 1);
    transition: background-color 0.3s ease;
}

#addBtn{
    box-sizing: border-box;
    width: 250px; height: 35px;
    padding: 0px 10px;
    background-color: rgba(0, 185, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 0px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
#addBtn:hover{
    cursor: pointer;
    background-color: rgba(0, 185, 75, 0.7);
    transition: background-color 0.3s ease;
}

.counter{
    box-sizing: border-box;
    width: 100%; min-height: 80px;
    background-color: rgba(255, 255, 255, 1);
    border-left: 5px solid rgba(0, 185, 75, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.counter-title{
    width: auto; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.counter-title h4{
    font-family: Rubik;
    color: rgba(37, 37, 37, 1);
    font-size: 24px;
    font-weight: 700;
}
.delete-btn{
    width: 32px; height: 32px;
    border: 0px;
    background-image: url(./Chronometer-source/img/bin\ 0.svg);
    background-color: rgba(255, 255, 255, 1);
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}
.delete-btn:hover{
    background-image: url(./Chronometer-source/img/bin\ 1.svg);
    cursor: pointer;
}
.counter-items{
    width: max-content; height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.date-calculator{
    box-sizing: border-box;
    width: 100%; height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 45px;
    box-shadow: 3px 3px 0 0 rgba(37, 37, 37, 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.dateInput-ueser{
    width: auto; height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding-bottom: 30px;
}
.dateInput-ueser label{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.dateInput{
    box-sizing: border-box;
    width: 363px; height: 35px;
    padding: 0px 20px;
    margin-top: 10px;
    outline: 1px rgba(37, 37, 37, 1);
    background-color: rgba(240, 240, 240, 1);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.dateInput:hover{
    cursor: pointer;
    background-color: rgba(215, 215, 215, 1);
    transition: background-color 0.3s ease;
}

.date-output{
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.date-output label{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.dateOut{
    width: max-content; height: auto;
    color: rgba(0, 185, 75, 1);
    font-size: 24px;
}
.progress-title{
    width: 100%; height: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px

}
.right-title, .time{
    font-size: 12px;
    text-align: right;
}

/* - - - - - Медиа запросы - - - - -*/
@media only screen and (max-width: 1380px) {
    .chronometer-content{
        width: max-content;
        flex-direction: column;
    }
    .date-calculator{
        order: 2;
        margin-bottom: 0px;
    }
    .chronometer-holiday-content{
        width: 100%;
        order: 3;
    }
}
@media only screen and (max-width: 950px) {
    .user-date{
        width: 712px;
    }
    .user-data-progress{
        height: max-content; min-height: 90px; max-height: 480px;
    }
    .date-calculator{
        width: 712px;
    }
    .dateInput{
        width: 100%;
    }
    .chronometer-holiday-content{
        width: 712px;
    }
    .chronometer-user-content{
        width: 712px;
    }
    .user-data-input{
        gap: 10px;
    }
}

@media only screen and (max-width: 760px) {
    .chronometer-user-content{
        width: 390px;
    }
    .user-date{
        width: 390px;
    }
    .date-calculator{
        width: 390px;
    }
    .chronometer-holiday-content{
        width: 390px;
    }
    .dateInput-ueser{
        flex-direction: column;
        gap: 20px;
    }
    .date-output{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .counter{
        flex-direction: column;
        height: auto;
    }
    .user-data-input{
        flex-direction: column;
        gap: 5px;
        padding: 10px 0;
    }
    #userText, #userDate, #addBtn{
        min-width: 100%;
    }
    .counter-items{
        width: 100%;
        justify-content: space-between;
    }

}
@media only screen and (max-width:430px){
    .container{
        width: 100%;
    }
    .chronometer-user-content{
        width: 100%;
    }
    .user-date{
        width: 100%;
        padding: 15px 10px;
    }
    .date-calculator{
        width: 100%;
    }
    .chronometer-holiday-content{
        width: 100%;
    }
    .counter-title{
        align-self: flex-start;
    }
    .chronometer-content{
        width: 100%;
    }
}
